/* General Reset */
html, body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Login Page */
#content-login {
    margin: 10px;
    align-items: center;
}

#content-login h1 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #fc4c02;
}

#content-login p {
    font-size: 1em;
    margin-left: 10px;
    color: #333;
}

#login-container{
    margin: 20px;
    align-self: center;
}

#strava-signin {
    margin: 10px;
    scale: 40%;
}
  
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fc4c02; /* Strava's orange color */
    color: white;
    position: relative;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
  
.profile-container {
    display: flex;
    align-items: center;
}
  
.profile-photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    transition: width 0.3s, height 0.3s, margin-right 0.3s;
}
  
.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.profile-details h1 {
    margin: 0;
    font-size: 1.2em;
    color: white;
}
  
.profile-details p {
    margin: 2px 0;
    font-size: 0.8em;
    color: #f1f1f1;
}
  
.header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fc4c02;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px; /* Adjust this to match the shrunken header height */
}
  
.header.scrolled .profile-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
.header.scrolled .profile-details h1 {
    font-size: 1.2em;
}
  
.header.scrolled .profile-details p {
    display: none;
}

/* Adjust margin-top when the header is scrolled */
#content.with-scrolled-header {
    margin-top: 150px; /* Matches the height of the shrunken header */
}

/* Log out button styling */
.btn-logout {
    background-color: #e04800;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.btn-logout:hover {
    background-color: #c63a00;
}

/* Style for group items */
.group-section {
    margin: 20px;
}

.group-item {
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Make the item clickable */
    list-style-type: none;
  }
  
  .group-item:hover {
    background-color: #f0f0f0;
  }
  
  .group-section h4 {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #fc4c02;
  }

  .group-item h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
  }
  
  /* Date range styling on the top right */
  .date-range {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.9em;
    font-style: italic;
    color: #666;
  }
  
  .group-item p {
    margin: 5px 0;
    color: #666;
  }  

/* Challenge Section */
.challenge-section {
    margin: 20px;
}
  
.challenge-section h2 {
    color: #fc4c02;
}
  
.challenge-form {
    margin: 10px;
    font-size: 1em;
}

#challenge-name {
    width: 60%;
    padding: 12px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#challenge-type, #challenge-mode {
    width: 40%;
    padding: 12px;
    margin: 10px;
}

#activity-types {
    margin: 10px;
}

#start-date, #end-date {
    width: 20%;
    padding: 12px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#challenge-type, #challenge-mode {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
  
.btn-submit {
    background-color: #fc4c02;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}
  
.btn-submit:hover {
    background-color: #e04800;
}
  
/* Activities Section */
#btn-refresh {
    width: 30%;
    background-color: #ddd;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}
  
#btn-refresh:hover {
    background-color: #ccc;
}

.activities-section {
    margin: 20px;
}

.activities-section p {
    text-align: right;
    font-style: italic;
}

.activities-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#activities-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#activities-list li {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#last-refreshed {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
}

.btn-show-more {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #fc4c02;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn-show-more:hover {
    background-color: #e04800;
  }  

/* Footer */
#footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
}
  
.footer-image {
    width: 100%;
    max-width: 175px;
    display: block;
    margin: 0 auto;
}

/* Style for the leaderboard items */
#content-leaderboard header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fc4c02;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px; /* Adjust this to match the shrunken header height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.profile-details-l {
    display: none;
}

.profile-photo-l {
    border-radius: 50%;
    transition: width 0.3s, height 0.3s, margin-right 0.3s;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#content-leaderboard h1 {
    color: white;
    border: none;
    margin-left: 0px;
    margin-bottom: 10px;
}

#challenge-name-l, #challenge-type-l, #challenge-date-l, #challenge-teamstate-l, #challenge-details-l {
    border: none;
    margin: 10px;
    font-style: normal;
    font-size: 1em;
}

#challenge-name-l {
    font-style: bold;
    font-size: 1.2em;
}

#content-leaderboard h2 {
    color: black;
    margin-bottom: 10px;
    border: none;
    margin-left: 10px;
}

.leaderboard-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}
  
.leaderboard-item:hover {
    background-color: #f0f0f0;
}
  
#refresh-leaderboard {
    background-color: #ddd;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.8em;
}

/* Style for the participant's name */
.leaderboard-name {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

#leaderboard-list {
    list-style-type: decimal;
}
  
/* Style for the activities list */
.activities-list {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: none;
    display: none; /* Initially hidden */
}
  
.activity-item {
    margin-bottom: 5px;
}
  
/* Optional: Animation for smooth expansion */
.activities-list {
    transition: max-height 0.5s ease-out;
}
